body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section#sidebar {
	width: 400px;
	height: 100%;
	top: 0;
	left: 0;
	position: relative;
	overflow: hidden;
	z-index: 2;
	background: #FF4C4C;
	padding: 30px;
	max-width: 100%;

	/* Prevent highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: move !important;
}

h1 {
	font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 125%;
	color: #fff;
	margin-bottom: 20px;
}
h4 {
	font-family: 'PT Serif', 'Georgia', 'Baskerville', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2.2em;
	color: #fff;
}
div#forcast {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	padding: 40px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
span.temp,
span.state {
	display: block;
	color: #fff;
	text-align: center;
	position: relative;
	width: 100%;
}
span.temp {
	font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 7em;
}
span.state {
	font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 1.7em;
}
span.state span {
	text-transform: capitalize;
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;

	left: 0;
	opacity: 0;

	transition: 0.1s left ease-in-out, 0.1s opacity ease-in-out;
	-o-transition: 0.1s left ease-in-out, 0.1s opacity ease-in-out;
	-moz-transition: 0.1s left ease-in-out, 0.1s opacity ease-in-out;
	-webkit-transition: 0.1s left ease-in-out, 0.1s opacity ease-in-out;
}

span.state span.l { left: -40px }
span.state span.r { left: 40px }
span.state span.m { opacity: 1 }

div#board {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 30px;
	text-align: center;
}

button#guess {
	font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 1.7em;
	text-transform: uppercase;
	cursor: pointer;

	margin: 0 auto;
	display: inline-block;
	height: 70px;
	width: 100%;
	background: #fff;
	color: #000;
	border: none;

	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
	border-radius: 14px;
}
button#guess:active {
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.25);
}
h2#score,
h2#round {
	display: inline-block;
	vertical-align:top;
	font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px;
}
h2#score { margin-right: 20px }
h2#round { margin-left: 20px }

h2#score::before { content: 'SCORE' }
h2#round::before { content: 'ROUND' }

h2#score::before,
h2#round::before {
	display: block;
	opacity: 0.7;
	font-size: 0.5em;
	margin-bottom: 10px;
}

section#map {
	position: absolute;
	top: 0;
	right: 0;
	height: 100% !important;
	width: calc(100% - 400px) !important;
	z-index: 1;
}

/* TODO: Responsive Styles & Layouts */

@media screen and (max-height: 720px) {
	div#forcast {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
	}
}